<style>
.main{
  margin: auto;
}

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
  }

  .card {
    background: blue;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .card > .content {
    padding: 10px;
    color: white;
  }
</style>

<main class="main">
  <div class="main-content">
    @for(developer of developers; track $index){
    <div class="card">
      <div class="content">
        <p>Developer: {{ developer.nome }}</p>
        <p>Age: {{ developer.idade }}</p>
        <p>Role: {{ developer.cargo }}</p>
        <button (click)="sendData(developer)">Select Developer</button>
        <button (click)="removeDeveloperFromList($index)">Remove Developer</button>
      </div>
    </div>
    }
  </div>
  <button (click)="increaseCounter()">Increase</button>
  <button (click)="decreaseCounter()">Decrease</button>
    {{ title }} counter: {{ counter }}
</main>

<router-outlet />
